.time-container {
  text-align: center;
}
.time-inner-container {
  display: inline-block;
}
.t-digits {
  font-size: 4em;
}
.time-text {
  display: flex;
  justify-content: space-around;
  color: white;
}
button.btnstart {
  margin-right: 19%;
  margin-top: 12%;
}
button.btnstart {
  width: 33%;
  background-color: none;
  background-color: white;
  border: 2px solid #2d2af98f;
  
}
button.btnreset {
  width: 33%;
  background-color: none;
  background-color: white;
  border: 1px solid;
  
}
.time-container {
  margin-top: 10%;
  border: 1px solid;
  width: 42%;
  margin-left: 29%;
  height: 390px;
  background-image: url("logo.jpg")
}

.time-inner-container {
  margin-top: 7%;
}